@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap");

#root {
  text-align: center;
}

body {
  font-family: "Zilla Slab", serif;
  background-color: #eadced;
}

.header {
  background-color: bisque;
  padding: 1%;
  border-radius: 10px;
  border-width: 1%;
  border-style: solid;
  border-color:rgb(210, 171, 249);
}

.Nav {
  padding: 1%;
  text-align: left;
  border-radius: 10px;
  background-color: rgb(191, 179, 206);
  margin-top: 1%;
  border-width: 1%;
  border-style: solid;
  border-color: rgb(210, 171, 249);
}

.Link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.articlesContainer {
  
  padding: 1%;
}

ul {
  list-style-type: none;
}

.article_box {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1%;
}

.article {
  margin-bottom: 2%;
  display: flex;
  padding: 1%;
  border-width: 1%;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(255, 216, 154);
  text-align: left;
}

.article:hover {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 199, 162);
}

.article_content {
  flex: 1;
}

.article_image {
  width: 30%;
  height: auto;
}


.article_page {
  background-color: rgb(255, 216, 154);
  border-style: solid;
  border-color: rgb(214, 200, 45);
  padding: 2%;
  box-sizing: border-box;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
}

.sub_contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article_page_img {
  width: 100%;
  height: auto;
}

.article_body {
  text-align: justify;
  margin-top: 2%;
}


.comments {
  border-width: 3%;
  border-style: solid;
  padding: 1%;
  border-radius: 10px;
  background-color: rgba(254, 190, 190, 0.695);
}


.comment_box {
  text-align: justify;
  padding: 1%;
  border-width: 1%;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  margin-bottom: 1%;
  border-radius: 10px;
  background-color: rgba(212, 212, 212, 0.695);
}


.NewComment {

  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.NewComment button {
  margin-top: 1%;
  margin-bottom: 2% ;
  align-self: flex-start;

}

.error {
  font-weight: bold;
  color: red;
  
  }

.success {
  font-weight: bold;
  color: rgb(31, 126, 3);

  }

.vote {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;

}

.vote button {
  margin-left: 1%;
}

.error {
font-weight: bold;
color: red;

}

@media (min-width: 300px) {
  .article_page_img {
    width: 100%;
    height: auto;
  }

}