@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap");

#root {
  text-align: center;
}

body {
  font-family: "Zilla Slab", serif;
  background-color: #eadced;
}

.header {
  border-width: 3%;
  border-style: solid;
  border-color: red;
  padding: 1%;
  
}


.Nav {
  border-width: 3%;
  border-style: solid;
  border-color: rgb(0, 51, 255);
  padding: 1%;
  text-align: left;

}

.articlesContainer {
  border-width: 3%;
  border-style: solid;
  border-color: rgb(0, 255, 55);
  padding: 1%;

}


ul {
  list-style-type: none;
}

.article_box {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-style: solid;
  border-color: rgb(255, 0, 208);
  padding: 1%;
}

.article {
  margin-bottom: 2%;
  display: flex;
  padding: 1%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(255, 216, 154);
  text-align: left;
}

.article_content {
  flex: 1;
}

.article_image {
  width: 30%;
  height: auto;
}


.article_page {
  background-color: rgb(255, 216, 154);
  border-style: solid;
  border-color: rgb(214, 200, 45);
  padding: 2%;
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
}

.sub_contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article_page_img {
  width: 100%;
  height: auto;
}

.article_body {
  text-align: justify;
  margin-top: 2%;
}

@media (min-width: 300px) {
  .article_page_img {
    width: 100%;
    height: auto;
  }
}
