#root {
  text-align: center;
}


.header {
  border-width: 3%;
  border-style: solid;
  border-color: red;
  padding: 1%;
  
}


.Nav {
  border-width: 3%;
  border-style: solid;
  border-color: rgb(0, 51, 255);
  padding: 1%;
  text-align: left;
  
}

.articlesContainer {

  border-width: 3%;
  border-style: solid;
  border-color: rgb(0, 255, 55);
  padding: 1%;


}


ul {

  list-style-type: none;
}

.article_box {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-style: solid;
  border-color: rgb(255, 0, 208);
  padding: 1%;
}

.article {
  margin-bottom: 2%;
  display: flex;
  padding: 1%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  text-align: left;
  
}

.article_content {
  flex: 1; 
}

.article_image {
  width: 30%;
  height: auto;
}
